<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<% var name = 'HJ'; %>
<h1> <%= name %> </h1>
<p> <%= 52 * 123 %> </p>
<%= kk%>
<%= description%>
<hr/>

<% for(var i = 0; i< 10; i++) { %>
    <h2>Hello <%= i%> is <%= i * i%></h2>

<% } %>
<hr>
</body>
</html>

